[submodule "submodules/Megatron-LM"]
	path = submodules/Megatron-LM
	url = https://github.com/OpenEuroLLM/NVIDIA-Megatron-LM.git
[submodule "submodules/Megatron-Bridge"]
	path = submodules/Megatron-Bridge
	url = git@github.com:jmokoistinen/Megatron-Bridge.git
	branch = feat/qwen3.5_conv
[submodule "submodules/lm-evaluation-harness"]
	path = submodules/lm-evaluation-harness
	url = https://github.com/LumiOpen/lm-evaluation-harness.git
	branch = main
